Blender to make levels:
=======================
Should be able to do the following things in Blender,
and export them to glTF2.0, which should assetsys read and store data revelant to each system:

Can place lights (point and spotlights) in blender,
Can place cameras in a blender - with room_name custom property.
Can place Oriented Bounded Boxes in rooms, with room_name property.
- In game, if the player intersects one of these OBBs,
  it tweens or snaps to the corresponding camera with the room_name.
  (Such a camera can rotate slightly to keep the player in focus,
  but that is game programming stuff).
  If such a camera doesn't exist, then it uses the follow cam.
Can place triggers, spawn points, etc... in the world.
- "spawn": "ENTITY_PLAYER",
  "condition_name": "default_spawnpoint"  // <- Engine references this condition name
or
- "spawn": "ENTITY_CRAWLER_ZOMBIE",
  "condition_name": "spawner_kitchen_sink"  // <- Game would know about the spawn points and use it according to game conditions, e.g. during a new wave.

OBB collider:
"condition_name" "player_only",
"trigger_type": "on_enter"  // "on_exit", "trigger_every_frame"
"room_name": "ROOM_COURTYARD"
"trigger_result": "sound_creak"

Or whatever, the api needs to be decided on.

Level has collision meshes e.g. has property "is_collider_collision": true.
Maybe one per scene. and it would be used for world collision and navigation of entities.



Fidelity Requirements:
======================
Indoor rendered game:
Can have high fidelity lighting.
The engine would support high fidelity geometry, but we won't be able to
produce assets for such things.

High fidelity geometry:
- Portal based occlusion culling (how do we idenity portals in blender?).

Lighting:
- We want loads of dynamic lights e.g. even flickering of non-moving lights,
  but also maybe swinging lightbulbs (because they've fallen out of a broken lampshade.
- Lights can be tied to sound as well:
  e.g. occasionally the light flickers, and at the same time, an electrical Zzzz sound plays



PostProcessing:
- Viniette, Bloom, etc...
 Will want an FX chaining system:
 Alternative postprocessing effect with pingpong buffers, pretty simple.


Material system:
- PBR for most things, styalised on the game side maybe, but using just PBR properties (metal, roughness, alebdo, alpha).
- Outlines for highlighted object.
- Unlit for in world text pop ups.


UI/HUD pass will be seperate.


Entity System:
==============
Should be able to iterate over all entities of a certain type?
- Well, it would be easier if each entity is just a bundle of components,
  and we iterate over all components of a certain type.
  With helper functions for making entities of a specific bundle of components.

E.g. for rendering we loop over all the camera components and find
the first one labelled "active": true (since we aren't doing splitscreen).

Timer components can be used to schedule events across frames for entities.

Opaque handles / weak pointers for entities and components.
They are bulk stored in an array containing the generation in the handle so we
know whether that position in the array has been replaced with a new entity
(implying that entity was deleted).
See links for how to do these game engine data structures.
https://ruby0x1.github.io/machinery_blog_archive/post/data-structures-part-1-bulk-data/index.html
https://ruby0x1.github.io/machinery_blog_archive/post/data-structures-part-2-indices/index.html
https://ruby0x1.github.io/machinery_blog_archive/post/data-structures-part-3-arrays-of-arrays/index.html

Serlization Requirements:
==========================
- Do we want to be able to save half way through?
  Depends on how long a session is, since we are doing a rogue-light style of gameplay.
- Maybe we have a HUB world where you can upgrade your character.

